<br>
<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <!--<img *ngIf="data.photo||this.empphoto" [src]="this.empphoto?this.empphoto:data.photo" style="position: absolute;right:30px;top:20px">
          <i class="material-icons photo" *ngIf="!data.photo&&!this.empphoto">account_circle</i>
          <div class="image-upload">-->
<!--<i class="material-icons photo">account_circle</i>-->
<!--<button md-icon-button class="camera" (click)="clickButton()">
<i class="material-icons camera">photo_camera</i>
  </button>
  -->
   <!--<div class="image-upload">
            <label for="photo">
             <i class="material-icons" style="position: absolute;right:30px;top:20px;cursor: pointer;">photo_camera</i>
          </label>
            <input type="file" id="photo" name="photo" formControlName="photo" (change)="fileChange($event)">
          </div>-->
<input type="hidden" id="empId" formControlName="empId" [(ngModel)]="id">
    <table>
        <tr>
            <td>
                <md-input-container class="leftwidth">
                    <input mdInput placeholder="First Name" formControlName="firstName" >
                </md-input-container> 
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Sub Division" formControlName="subDivision">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="last Name" formControlName="lastName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class = "rightwidth">                    
                    <input mdInput placeholder="Status" formControlName="status">                    
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                    <md-select class = "leftwidth" placeholder="Gender" formControlName="gender">
   <md-option *ngFor="let gender of genders" [value]="gender.value" >{{ gender.viewValue }}</md-option>
</md-select>
                
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Suspend Date" type="date" formControlName="suspendDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="Date Of Birth" type="date" formControlName="dateOfBirth" [(ngModel)]="dateOfBirth">
                </md-input-container>
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Hired Date" type="date" formControlName="hiredDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="Nationality" formControlName="nationality">
                </md-input-container>
            </td>
            <td>
                <md-select class = "rightwidth" placeholder="Grade" formControlName="grade">
   <md-option *ngFor="let grade of grades" [value]="grade.value" >{{ grade.viewValue }}</md-option>
</md-select>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="MaritalStatus" formControlName="maritalStatus">
                    
                </md-input-container>
            </td>
            <td>
                  <md-select class = "rightwidth" placeholder="Division" formControlName="division">
   <md-option *ngFor="let division of divs" [value]="division.value" >{{ division.viewValue }}</md-option>
</md-select>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="Phone" formControlName="phone">
                </md-input-container>
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Email" type="email" formControlName="email">
                </md-input-container>
            </td>
            <td>
                
            </td>
        </tr>
    </table>
                   <md-select class = "leftwidth" placeholder="Location" formControlName="location">
   <md-option *ngFor="let location of locations" [value]="location.value" >{{ location.viewValue }}</md-option>
</md-select> 
                   

                <br><br>
    <section class = "button-group">
    <button type="reset" class="btn btn-primary">Cancel</button>
  <button type="submit" class="btn btn-primary">Submit</button>
    </section>
</form>
<!--<section (ngSubmit)="onSubmit(form.value)" *ngFor="let contact of contacts">

<section class="left">
  <md-input-container class="leftwidth">
    <input mdInput placeholder="First Name" name="firstName">
  </md-input-container>
  <br>
  <md-input-container class="leftwidth">
    <input mdInput placeholder="Last Name" name="lastName">
  </md-input-container>
  <br>
  <md-select class="leftwidth" placeholder="Gender">
    <md-option *ngFor="let gender of sex" [value]="gender.value" name="gender">
      {{ gender.values }}
    </md-option>
  </md-select>
  <br><br>
  <md-input-container class="leftwidth">
    <input mdInput placeholder="Date of Birth" name="dateOfBirth" type="date">
  </md-input-container>
  <br>
  <md-input-container class="leftwidth">
    <input mdInput placeholder="Nationality" name="nationality">
  </md-input-container>
  <br>
  <md-input-container class="leftwidth">
    <input mdInput placeholder="Marital Status" name="maritalStatus">
  </md-input-container>
  <br>
  <md-input-container class="leftwidth">
    <input mdInput placeholder="Phone" name="phone">
  </md-input-container>
  <br>
  <md-select class="leftwidth" placeholder="Location">
    <md-option *ngFor="let loc of location" [value]="loc.value">
      {{ loc.values }}
    </md-option>
  </md-select>
</section>
<section class="right">
  <md-input-container class="rightwidth">
    <input mdInput placeholder="Sub Division" name="subDivision">
  </md-input-container>
  <br>
  <md-input-container class="rightwidth">
    <input mdInput placeholder="Status" name="status">
  </md-input-container>
  <br>
  <md-input-container class="rightwidth">
    <input mdInput placeholder="Suspend Date" name="suspendDate" type="date">
  </md-input-container>
  <br>
  <md-input-container class="rightwidth">
    <input mdInput placeholder="Hired Date" name="hiredDate" type="date">
  </md-input-container>
  <br>
  <md-select class="leftwidth" placeholder="Grade">
    <md-option *ngFor="let grade of grades" [value]="grade.value" name="grade">
      {{ grade.values }}
    </md-option>
  </md-select>
  <br><br>
  <md-select class="leftwidth" placeholder="Division">
    <md-option *ngFor="let div of divisions" [value]="div.value" name="div">
      {{ div.values }}
    </md-option>
  </md-select>
  <br><br>
  <md-input-container class="rightwidth">
    <input mdInput placeholder="Email" name="email" type="email">
  </md-input-container>
</section>
<br><br>
<div class="col-md-4">
  <button type="reset" class="btn btn-primary">Reset</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</section>-->
