<section *ngIf="!isShow" class="select-message">
    <h2>Please select employee or add new one</h2>
</section>
<br>
<form *ngIf="isShow" class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
<input type="hidden" id="empId" formControlName="empId" [(ngModel)]="id">
    <table>
        <tr>
            <td>
                <md-input-container class="leftwidth">
                    <input mdInput placeholder="First Name" formControlName="firstName" >
                </md-input-container> 
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Sub Division" formControlName="subDivision">
                </md-input-container>
            </td>
            <td>
                <img class="image" [src]="photo | safeUrl" (click)="fileInput.click()" />
                <input name="photo" id="photo" class="file-chooser" #fileInput type="file" hidden="hidden" accept="image/*" (change)="chooseImage($event)"
                />
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="last Name" formControlName="lastName">
                </md-input-container>
            </td>
            <td>
                <md-input-container class = "rightwidth">                    
                    <input mdInput placeholder="Status" formControlName="status">                    
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                    <md-select class = "leftwidth" placeholder="Gender" formControlName="gender">
   <md-option *ngFor="let gender of genders" [value]="gender.value" >{{ gender.viewValue }}</md-option>
</md-select>
                
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Suspend Date" type="date" formControlName="suspendDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="Date Of Birth" type="date" formControlName="dateOfBirth" [(ngModel)]="dateOfBirth">
                </md-input-container>
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Hired Date" type="date" formControlName="hiredDate">
                </md-input-container>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="Nationality" formControlName="nationality">
                </md-input-container>
            </td>
            <td>
                <md-select class = "rightwidth" placeholder="Grade" formControlName="grade">
   <md-option *ngFor="let grade of grades" [value]="grade.value" >{{ grade.viewValue }}</md-option>
</md-select>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="MaritalStatus" formControlName="maritalStatus">
                    
                </md-input-container>
            </td>
            <td>
                  <md-select class = "rightwidth" placeholder="Division" formControlName="division">
   <md-option *ngFor="let division of divs" [value]="division.value" >{{ division.viewValue }}</md-option>
</md-select>
            </td>
        </tr>
        <tr>
            <td>
                <md-input-container class = "leftwidth">
                    <input mdInput placeholder="Phone" formControlName="phone">
                </md-input-container>
            </td>
            <td>
                <md-input-container class = "rightwidth">
                    <input mdInput placeholder="Email" type="email" formControlName="email">
                </md-input-container>
            </td>
            <td>
                
            </td>
        </tr>
    </table>
                   <md-select class = "leftwidth" placeholder="Location" formControlName="location">
   <md-option *ngFor="let location of locations" [value]="location.value" >{{ location.viewValue }}</md-option>
</md-select> 
                   

                <br><br>
    <section class = "button-group">
    <button type="reset" class="btn btn-primary">Cancel</button>
  <button type="submit" class="btn btn-primary" (click)=openDialog()>Submit</button>
    </section>
</form>
