* {
    font-size: 14px;
}
.leftwidth {
    width: 300px;
    margin-left: 50px;
}
.rightwidth {
    width: 300px;
    margin-left:50px;
    margin-right: 50px;
    
}
.image { 
    margin-left: 50px;
    border-radius: 100%;
    height: 100px;
    width: 100px; 
}

button.camera { 
    font-size: 24px; 
    position: absolute;
    right: 5px;
    top: 15px;
}
button.add {
    position: absolute;
    top: 60%;
    margin-left: 10px;
    
}
.material-icons.add {
    font-size: 36px;
}

section.button-group {
    float: right;
    margin-right: 20%;
}