.material-icons.searchtool {
   font-size: 24px;
}
.search {
    font-size: 20px;
}
md-card.contacts:active {
    background-color:lightslategrey;
}

md-card.contacts:hover {
    border-style: groove;
    border-color: lightskyblue;
}
.example-spacer {
  flex: 1 1 auto;
}

ul{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}
div.picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 10px;
}
.material-icons.picture { 
    font-size: 48px; 
    float: left;
    
}
.material-icons.icon { 
    font-size: 36px; 
    margin-right: -10px;
}
button.add {
    position: absolute;
    top: 60%;
    right: 5px;
}
.material-icons.add {
    font-size: 36px;
    
    
    /*left: -5px;
    top: 0px;*/
}