.tophead {
    background-color: lightgrey;

}
header {
  font-size: 20px;
  position: relative;
  margin-left: 10px;
  top: 10px;
}
.description {
    font-size: 12px;
    position: relative;
    margin-left: 10px;
    top: 5px;
       
}
.material-icons.md-36 {
   margin-top: 5px;
   font-size: 36px;
}
.example-spacer {
  flex: 1 1 auto;
}