* {
    padding-top: 15px;

}
.material-icons {
    margin-top: -10px;
   font-size: 30px;  
}
h3 {
    margin-left: 50px;
    font-size: 20px;
}
.navigator {
        background-color: lightgoldenrodyellow;

}