<md-tab-group>
  <md-tab>
    <ng-template md-tab-label class="navigator">
      <i class="material-icons">person</i>
    </ng-template>
    <contactlist></contactlist>
  </md-tab>
    <md-tab>
    <ng-template md-tab-label class="navigator">
      <i class="material-icons">history</i>
    </ng-template>
    <h3>Still Under Construction</h3>
  </md-tab>
    <md-tab>
    <ng-template md-tab-label class="navigator">
      <i class="material-icons">school</i>
    </ng-template>
    <h3>Still Under Construction</h3>
  </md-tab>
    <md-tab>
    <ng-template md-tab-label class="navigator">
      <i class="material-icons">wc</i>
    </ng-template>
    <h3>Still Under Construction</h3>
  </md-tab>
    <md-tab>
    <ng-template md-tab-label class="navigator">
      <i class="material-icons">home</i>
    </ng-template>
    <h3>Still Under Construction</h3>
  </md-tab>
    <md-tab>
    <ng-template md-tab-label class="navigator">
      <i class="material-icons">location_on</i>
    </ng-template>
    <h3>Still Under Construction</h3>
  </md-tab>
</md-tab-group>

  